@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body{
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}
.linktree{
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linktree .share-button{
  position: absolute;
  width: 40px;
  height: 40px;
  right: 400px; 
  top: 40px;
  border: 1px dashed #D0D5DD;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linktree .share-button .dot{
  display: none;
}
.profile-section{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-section img{
  width: 88px;
  height: 88px;
  padding-block: 20px;
}
.profile-section h2{
  font-size: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #10182b;
}
.link-section{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-inline: 50px;
}
.link-section a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 8px;
  background: #eaecf0;
  width: 100%;
  height: 20px;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #101828;
  text-decoration: none;
}
.link-section a:hover{
  background: #b6b9bd;
  border: 1px solid #b6b9bd;
}
.social-section{
  margin-top: 30px;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
}
.social-section img{
  padding-inline: 20px;
}
.footer{
  display: flex;
  justify-content: center;
  width: 100%;
}
.container{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: baseline;
  border-top: 2px solid #d8dce3;
  padding-block: 50px;
}
.container p{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #667085;
}

/* Contact style */

.contact-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-page .content{
  padding-top: 40px;
  padding-bottom: 100px;
}

.contact-page .content .heading{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #101828;
}
.contact-page .content .supporting-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
}

.contact-page .content .form .name-row{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;

}

.contact-page .content .form .name-row input{
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  margin-top: 10px;
  width: 260px;
}
.contact-page .content .form .name-row .first-name{
  display: flex;
  flex-direction: column;
}
.contact-page .content .form .name-row .last-name{
  display: flex;
  flex-direction: column;
}

.contact-page .content .form .email{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.contact-page .content .form .email input{
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  margin-top: 10px;
}
.contact-page .content .form .textarea{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.contact-page .content .form .textarea textarea{
  height: 132px;
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  margin-top: 10px;
}
.checkbox{
  display: flex;
  margin-block: 10px;
}
.checkbox input{
  margin-right: 20px;
}
.form button{
  padding: 12px 20px;
  background: #1570EF;
  border: 1px solid #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  width: 100%;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 600px){
  .container{
    flex-direction: column;
  }
  .linktree .share-button .dot{
    display: block;
  }
  .linktree .share-button .share{
    display: none;
  }
  .linktree .share-button{
    right: 15px; 
    top: 40px;
  }
  .link-section{
    margin-top: 25px;
  }
  .contact-page .content{
    width: 90%;
    margin: auto;
  }
  .contact-page .content .form .name-row{
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .contact-page .content .form .name-row .last-name{
    margin-top: 40px;
  }
  .contact-page .content .form .name-row input{
    padding: 20px;
    width: 100%;
  }
  .contact-page .content .form .email{
    margin-top: 40px;
  }
  .contact-page .content .form .email input{
    padding: 20px;
  }
}